.green {
    color: #08BA0F;
}

.red {
    color: #BA0808;
}

.light-grey {
    color: #a6adbb;
}

.black {
    color: #525252;
}

.running-state-container {
    font-size: 19px;
}

.serverlist-entry {
    height: 4.5rem;
    width: 4.5rem;
}

.mat-icon {
    vertical-align: middle;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.table-item {
    height: 110px !important;
}