/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.button-container {
    display: flex;
}

@media only screen and (max-width: 1919px),
screen and (max-height: 1079px) {
    .text {
        font-size: 0.75rem;
        line-height: 1rem;
    }

    .spacing {
        margin-left: 20px;
    }

    .button-text {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}