<div class="ml-4 w-10/12 text overflow-auto no-scrollbar h-[55vh]">
    <form>
    <div class="grid grid-cols-2">
        <div class="grid grid-cols-2">
            <div>
                <div>
                    <p>Gamemode</p>
                    <select class="select text">
                        <option selected>Survival</option>
                        <option>Creative</option>
                        <option>Hardcore</option>
                        <option>Spectator</option>
                        <option>Adventure</option>
                    </select>
                </div>

                <div>
                    <p>Difficulty</p>
                    <select class="select text">
                        <option>Peaceful</option>
                        <option selected>Easy</option>
                        <option>Normal</option>
                        <option>Hard</option>
                    </select>
                </div>

                <div>
                    <p>Level Name (World Name)</p>
                    <input type="text" class="input text" value="" />
                </div>
            </div>

            <div>
                <div>
                    <p>Max Players</p>
                    <input type="number" class="input text" value="20" />
                </div>

                <div>
                    <p>View Distance</p>
                    <input type="number" class="input text" value="10" />
                </div>

                <div>
                    <p>Simulation Distance</p>
                    <input type="number" class="input text max-w-xs" value="10" />
                </div>
            </div>
        </div>

        <div class="grid grid-cols-3">
            <div>
                <p>PVP</p>
                <input type="checkbox" class="toggle mt-1" />
            </div>

            <div>
                <p>Structures</p>
                <input type="checkbox" class="toggle mt-1" checked />
            </div>

            <div>
                <p>Command Block</p>
                <input type="checkbox" class="toggle mt-1" />
            </div>

            <div>
                <p>Force Gamemode</p>
                <input type="checkbox" class="toggle mt-1" />
            </div>

            <div>
                <p>Hardcore</p>
                <input type="checkbox" class="toggle mt-1" />
            </div>

            <div>
                <p>Whitelist</p>
                <input type="checkbox" class="toggle mt-1" />
            </div>

            <div>
                <p>NPCs</p>
                <input type="checkbox" class="toggle mt-1" checked />
            </div>

            <div>
                <p>Animals</p>
                <input type="checkbox" class="toggle mt-1" checked />
            </div>

            <div>
                <p>Monsters</p>
                <input type="checkbox" class="toggle mt-1" checked />
            </div>
        </div>
    </div>

    <div>
        <div class="mt-2 flex space-x-12">
            <div>
                <p>MOTD</p>
                <textarea class="textarea" placeholder="Welcome to the Minecraft Server"
                    style="width: 320px;"></textarea>
            </div>
            <div>
                <p>Add World</p>
                <input type="file" class="file-input file-input-bordered file-input-primary w-full max-w-xs mt-1" />
            </div>
        </div>

        <div>
            <a [routerLink]="['/newserver/advanced']" class="underline underline-offset-2">Show Advanced</a>
        </div>

        <div class="mt-8 flex space-x-5">
            <button class="btn btn-error action-button button-sizing" (click)="reset()">Cancel</button>
            <button class="btn btn-success action-button button-sizing" (click)="save()">Save</button>
        </div>
    </div>
  </form>
</div>
