<div class="ml-12 mt-6">

    <h1 class="text-5xl">Application Settings</h1>

    <div class="mt-16">

        <div class="mt-2">
            <div>
                <p>Theme</p>
            </div>
            <div>
                <select class="select w-full max-w-xs primary" (change)="changeTheme($event)">
                    <option *ngFor="let theme of availableThemes" [value]="theme | lowercase" [selected]="(theme | lowercase) === selectedTheme">{{ theme }}</option>
                </select>
            </div>
        </div>

        <div class="mt-5">
            <div>
                <p>Start on Startup</p>
            </div>
            <div>
                <input type="checkbox" class="toggle" />
            </div>
        </div>


        <!-- <div class="mt-2">
            <div>
                <p>Lorem</p>
            </div>
            <div>
                <select class="select w-full max-w-xs">
                    <option>Ipsum</option>
                    <option>Ipsum</option>
                    <option>Ipsum</option>
                    <option>Ipsum</option>
                    <option>Ipsum</option>
                </select>
            </div>
        </div> -->

        <!-- <div class="mt-2">
            <div>
                <p>Lorem</p>
            </div>
            <div>
                <select class="select w-full max-w-xs">
                    <option>Ipsum</option>
                    <option>Ipsum</option>
                    <option>Ipsum</option>
                    <option>Ipsum</option>
                    <option>Ipsum</option>
                </select>
            </div>
        </div> -->

        <!-- <div class="mt-2">
            <div>
                <p>Color</p>
            </div>
            <div>
                <select class="select w-full max-w-xs">
                    <option>Ipsum</option>
                    <option>Ipsum</option>
                    <option>Ipsum</option>
                    <option>Ipsum</option>
                    <option>Ipsum</option>
                </select>
            </div>
        </div> -->
    </div>
</div>