
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="bg-base-300 h-screen w-64 sticky">
  <img class="w-1/2 ml-auto mr-auto py-4" src="assets/logo_blacknwhite-transparent.png">
  <div class="divider"></div>
  <button class="btn bg-primary txtbtn ml-3" (click)="home()">Dashboard</button>
  <button class="btn bg-primary txtbtn mt-3 ml-3" (click)="servers()">My Servers</button>
  <div class="buttons grid grid-cols-2 gap-4 mb-5">
    <button class="btn bg-primary fa fa-upload ml-3" (click)="upload()"></button>
    <button class="btn bg-primary fa fa-plus mr-3" (click)="newserver()"></button>
    <button class="col-span-2 bg-primary fa fa-cog btn mx-3" (click)="settings()"></button>
  </div>
</div>


