button {
    display: block;
    background-color: #D9D9D9;
    color: black;
    border: 0;
    border-radius: 0;
}

.buttons {
    position: absolute;
    bottom: 0;
    width: inherit;
}

.txtbtn {
    width: 90%;
}